# docker-compose.yml
version: '3.8'

networks:
  resume_ai_net:
    driver: bridge

services:

  redis:
    image: "redis:7.2-alpine"
    command: redis-server --requirepass "test123"
    expose:
     - "6379"
    ports:
      - 6379:6379
    networks:
      - resume_ai_net

  fastapi:
    image: resume_ai-fastapi:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8004:8004"
    volumes:
      - .:/app
    depends_on:
      - qdrant
      - redis
    networks:
      - resume_ai_net

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    networks:
      - resume_ai_net
